.git
.github
node_modules
vendor
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.cache
.phpunit.result.cache
docker-compose*.yml
*.md
!README.md
